<?xml version="1.0"?>

<model>
  <name>Husky World</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Kiat</name>
    <email>DiaboloKiat95.eed05@nctu.edu.tw</email>
  </author>

  <description>
    World of Husky with ROS symbol
  </description>
</model>
