<launch>
    <arg name="veh" default="robot"/> 

    <group ns="$(arg veh)">
        <node pkg="localization" type="localization_tf.py" name="localization_p3d" respawn="false" output="screen">
            <param name="modelstate_index" value="2" />
            <param name="frame_name" value="base_link" />
            <param name="parent_name" value="map" />
        </node>
    </group>

</launch>